In [89]:
import pandas as pd
import numpy as np
import missingno as msno 
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import re
import string
import nltk
nltk.download('wordnet')
from nltk.tokenize import word_tokenize,RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
from nltk.stem import PorterStemmer 

from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

from sklearn.model_selection import train_test_split,GridSearchCV


#For Clasification Model Built
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.model_selection import RepeatedStratifiedKFold

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [90]:
# For Algorithm

from sklearn.ensemble import GradientBoostingClassifier

from sklearn.cluster import KMeans
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import Perceptron

from sklearn.linear_model import RidgeClassifier
from sklearn.ensemble import AdaBoostClassifier

from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm

from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit

In [91]:
# Read the dataset csv files and create pandas datframes

train_df=pd.read_csv("train.csv")
test_df=pd.read_csv("1tweet_data.csv", error_bad_lines=False)
print("Train and Test data sets are imported successfully")

Train and Test data sets are imported successfully

## 1. Data Analysis and Exploration

### 1.1 Explore Data

In [92]:
# Define a function to explore the train and test dataframes

def explore_data(df):
    print("-"*100)
    print("Shape of dataframe: ",df.shape)
    print("Number of records in data set",df.shape[0])
    print("Information of Dataset")
    df.info()
    print("-"*100)
    print("First 5 records of dataset:")
    return df.head(10)
    print("-"*100)

In [93]:
explore_data(train_df)

----------------------------------------------------------------------------------------------------
Shape of dataframe:  (7613, 5)
Number of records in data set 7613
Information of Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB
----------------------------------------------------------------------------------------------------
First 5 records of dataset:

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1

In [94]:
explore_data(test_df)

----------------------------------------------------------------------------------------------------
Shape of dataframe:  (100, 36)
Number of records in data set 100
Information of Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               100 non-null    float64
 1   conversation_id  100 non-null    float64
 2   created_at       100 non-null    object
 3   date             100 non-null    object
 4   time             100 non-null    object
 5   timezone         100 non-null    int64
 6   user_id          100 non-null    float64
 7   username         100 non-null    object
 8   name             100 non-null    object
 9   place            0 non-null      float64
 10  text             100 non-null    object
 11  language         100 non-null    object
 12  mentions         100 non-null    object
 13  urls             100 non-null    object
 14  photos           100 non-null    object
 15  replies_count    100 non-null    int64
 16  retweets_count   100 non-null    int64
 17  likes_count      100 non-null    int64
 18  hashtags         100 non-null    object
 19  cashtags         100 non-null    object
 20  link             100 non-null    object
 21  retweet          100 non-null    bool
 22  quote_url        15 non-null     object
 23  video            100 non-null    int64
 24  thumbnail        13 non-null     object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         100 non-null    object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(14), int64(5), object(16)
memory usage: 27.6+ KB
----------------------------------------------------------------------------------------------------
First 5 records of dataset:

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1.348630e+18,1.348630e+18,2021-01-11 20:10:44 Bangladesh Standard Time,11/01/2021,20:10:44,600,9.607090e+07,falcolm,Anthony D Falcolm,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'seanhannity', 'name': 'Sean ...",NaN,NaN,NaN,NaN
1,1.348630e+18,1.347610e+18,2021-01-11 20:08:58 Bangladesh Standard Time,11/01/2021,20:08:58,600,8.544870e+17,notmyprez2020,Seeclearly61,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Mike_Pence', 'name': 'Mike P...",NaN,NaN,NaN,NaN
2,1.348630e+18,1.348630e+18,2021-01-11 20:08:50 Bangladesh Standard Time,11/01/2021,20:08:50,600,2.751025e+09,eddysr1728,Scott Edwards,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1.348630e+18,1.348440e+18,2021-01-11 20:08:16 Bangladesh Standard Time,11/01/2021,20:08:16,600,1.304810e+18,freedom_free85,Conservative_by_choice,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'mehdirhasan', 'name': 'Mehdi...",NaN,NaN,NaN,NaN
4,1.348630e+18,1.348630e+18,2021-01-11 20:06:09 Bangladesh Standard Time,11/01/2021,20:06:09,600,5.986469e+08,dariusdeanhilli,Darius Dean Hill II,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
5,1.348630e+18,1.348430e+18,2021-01-11 20:02:07 Bangladesh Standard Time,11/01/2021,20:02:07,600,7.636888e+08,petelu1456,dockbuilder,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'juliettekayyem', 'name': 'Ju...",NaN,NaN,NaN,NaN
6,1.348630e+18,1.348600e+18,2021-01-11 20:01:32 Bangladesh Standard Time,11/01/2021,20:01:32,600,1.127030e+18,brucemi10213461,Bruce Miller,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'sydneypersing', 'name': 'Syd...",NaN,NaN,NaN,NaN
7,1.348630e+18,1.348540e+18,2021-01-11 20:00:35 Bangladesh Standard Time,11/01/2021,20:00:35,600,8.810170e+17,susanhyden5,Susan Hyden,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'donwinslow', 'name': 'Don Wi...",NaN,NaN,NaN,NaN
8,1.348630e+18,1.348630e+18,2021-01-11 19:59:44 Bangladesh Standard Time,11/01/2021,19:59:44,600,1.248030e+09,flyme2themoon15,Naomi S.S.,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
9,1.348630e+18,1.348490e+18,2021-01-11 19:59:28 Bangladesh Standard Time,11/01/2021,19:59:28,600,2.696499e+07,swirlz31,Tanya J,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'balleralert', 'name': 'Balle...",NaN,NaN,NaN,NaN

## 2. Data Pre-processing

### 2.1 Data Normalization
- Removing URL
- Removing all irrelevant characters (Numbers and Punctuation)
- Convert all characters into lowercase

In [95]:
def clean_text(text):
    
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [96]:
train_df1=train_df.copy()
test_df1=test_df.copy()


train_df1['text'] = train_df1['text'].apply(lambda x: clean_text(x))
test_df1['text'] = test_df1['text'].apply(lambda x: clean_text(x))

In [97]:
def text_after_preprocess(before_text,after_text):
    print("-"*50)
    print("Before Clean Text")
    print("-"*50)
    print(before_text.head(10))
    print("-"*50)
    print("After Clean Text")
    print("-"*50)
    print(after_text.head(10))

In [98]:
# text_after_preprocess(test_df['text'],test_df1['text'])
# text_after_preprocess(train_df['text'],train_df1['text'])

### 2.2 Tokenization

In [99]:
# Lets Tokenize the training and the test dataset copies with RegEx tokenizer
tokenizer = nltk.tokenize.RegexpTokenizer(r'\w+')
train_df1['text'] = train_df1['text'].apply(lambda x: tokenizer.tokenize(x))
test_df1['text'] = test_df1['text'].apply(lambda x: tokenizer.tokenize(x))

In [100]:
# train_df1['text'].head(5)
# test_df1['text'].head(5)

### 2.3 Remove Stopwords

In [101]:
# Remove Stop Words Function
def remove_stopwords(text):
    words = [w for w in text if w not in stopwords.words('english')]
    return words

In [102]:
train_df1['text'] = train_df1['text'].apply(lambda x: remove_stopwords(x))
test_df1['text'] = test_df1['text'].apply(lambda x: remove_stopwords(x))

In [103]:
# train_df1['text'].head(5)
# test_df1['text'].head(5)

### 2.4 Convert the list of tokens into back to the string

In [104]:
def combine_text(text):
    all_text = ' '.join(text)
    return all_text

In [105]:
train_df1['text'] = train_df1['text'].apply(lambda x: combine_text(x))
test_df1['text'] = test_df1['text'].apply(lambda x: combine_text(x))

In [106]:
# test_df1['text'].head(5)
# train_df1['text'].head(5)

### 2.5 Lemmatization

In [107]:
def stem_lem(text):
    tokenizer = nltk.tokenize.TreebankWordTokenizer()
    tokens = tokenizer.tokenize(text)
    lemmatizer = nltk.stem.WordNetLemmatizer()
    lemm_text =  " ".join(lemmatizer.lemmatize(token) for token in tokens)
    return lemm_text

In [108]:
train_df1['text'] = train_df1['text'].apply(lambda x: stem_lem(x))
test_df1['text'] = test_df1['text'].apply(lambda x: stem_lem(x))

## 3. Vectorization of text

In [109]:
# Vectorize the text using CountVectorizer
count_vectorizer = CountVectorizer()
train_cv = count_vectorizer.fit_transform(train_df1['text'])
test_cv = count_vectorizer.transform(test_df1["text"])

In [110]:
# Vectorize the text using TFIDF
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
train_tf = tfidf.fit_transform(train_df1['text'])
test_tf = tfidf.transform(test_df1["text"])

### Model List For Classifire

In [111]:
#Split TFDIF vectorize data

x_train_tf,x_test_tf,y_train_tf,y_test_tf = train_test_split(train_tf,train_df.target,test_size=0.2,random_state=2020)

## 5. Best Classifire

In [112]:
# After all classifires test LogisticRegression() with TfidfVectorizer work best

clf_logreg = LogisticRegression(C=1.0,penalty = 'l2',solver='lbfgs')
clf_logreg.fit(x_train_tf, y_train_tf)
prediction = clf_logreg.predict(x_test_tf)
confusion_matrix(y_test_tf,prediction)
print(classification_report(y_test_tf,prediction))

              precision    recall  f1-score   support

           0       0.77      0.91      0.84       849
           1       0.85      0.66      0.74       674

    accuracy                           0.80      1523
   macro avg       0.81      0.79      0.79      1523
weighted avg       0.81      0.80      0.80      1523

## Submission File

In [114]:
def submission(file_loc,model,text_vector):
    
    sub_df = pd.read_csv(file_loc)
    sub_df['target'] = model.predict(text_vector)
    sub_df.to_csv("21tweet_data.csv",index=False)

In [116]:
file_loc = '1tweet_data.csv'
test_vector = test_tf
submission(file_loc,clf_logreg,test_vector)